DATABASE_USER=ai-paws
DATABASE_PASSWORD=<password>
DATABASE_HOST=ai-paws-db
DATABASE_PORT=5432
DATABASE_NAME=ai-paws

SECRET_KEY=<secret-key>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=pigkutftn@gmail.com
SMTP_PASSWORD=<some-password>

SERVICE_ACCOUNT_FILE=credentials/pigkut_gd_credentials.json
DRIVE_FOLDER_ID=<some-folder-id>